{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <center>
  <img class="img-responsive" src="{{ url_for('static', filename='img/DrTomatto.png') }}" width="300" height="300">
  <img class="img-responsive" src="{{ url_for('static', filename='img/tipografiatomatto-04-04.png') }}" width="500" height="250">
  </center>
  <h1 class="display-4">Detecci&oacute;n y Clasificaci&oacute;n de Enfermedades del Tomate Mediante Deep Learning y Computer Vision</h1>
 
  <!--hr class="my-4"-->
 
</div>

{% endblock%}

    
    
  